/* NaUKMA Physics, robert 2013 */
/* Variables */
@background-color: #f7f7f7;
@border-color: #c5c5c5;
@blue-color: #1E9026;
@grey-color: #e7e7e7;
@dark-color: #5c5c5c;
@usic-cat: #52BCF9;

/* Null */
h1, h2, h3, ul, label, input, img {
  padding: 0;
  margin: 0;
}

.title a, .breadcrumbs a {
  text-decoration: none;
  border-bottom: 1px dashed @blue-color;
  &:hover {
    border-bottom: none;
  }
}

/* Page styles */
body {
  background: @background-color;
  font: 0.8em Tahoma, Helvetica;
}

.container {
  width: 920px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid @border-color;
}

/* HEADER styles */
.header {
  height: 100px;
  width: 100%;
  position: relative;
  .logo {
    width: 100px;
    height: 100px;
    background: url(/images/physics_history.png) @blue-color;
    margin: 0 0 0 6px;
    &:hover {
      background: url(/images/physics_history.png) @border-color;
    }
  ;
  }
  .title {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0 0 0 20px;
    h3 {
      margin: 18px 0 12px 0;
      color: @dark-color;
      font-weight: normal;
      a {
        color: @blue-color;
        text-decoration: none;
        &:hover {
          color: @dark-color;
        }
      }
    }
    h1 {
      font-size: 1.9em;
      font-weight: normal;
    }
  }
  .social {
    margin: 0;
    position: absolute;
    top: 42px;
    right: 0;
    div {
      margin: 0 5px;
      display: inline-block;
    }
  }
}

.header > div, .header > a {
  display: inline-block;
  vertical-align: top;
}

/* Main Menu */
.mainmenu {
  background: @blue-color;
  width: 100%;
  height: 40px;
  margin: 20px 0;
  ul .active {
    background: @background-color;
    a {
      color: @blue-color;
    }
  }
  ul li {
    list-style: none;
    display: inline-block;
    margin: 0 -2px;
    a {
      font-size: 1.4em;
      color: #fff;
      text-decoration: none;
      display: block;
      padding: 9px 20px;
      &:hover {
        color: @blue-color;
        background: @background-color;
        padding: 9px 20px;
      }
    }
  }
}

/* CONTENT styles */

.breadcrumbs {
  margin: 0 0 20px 2px;
  font-size: 1.1em;
  a {
    color: @blue-color;
    &:hover {
      color: @dark-color;
    }
  ;
  }
}

#content {
  padding: 20px;
  border: 1px solid @grey-color;
  h1 {
    font-weight: normal;
  }
  ul {
    margin: 0 0 0 20px;
  }
}

/* FOOTER styles */
.footer {
  width: 100%;
  text-align: right;
  margin: 20px 0 0 0;
  a {
    .yii_copy {
      width: 140px;
      height: 40px;
      background: url(/images/thanks.png) -140px 0;
      display: inline-block;
      vertical-align: top;
    }
  }
  a {
    text-decoration: none;
    .usic_logo {
      width: 90px;
      height: 40px;
      background: url(/images/thanks.png) @blue-color;
      margin: -4px 0 0 0;
    }
  }
  a:hover {
    opacity: 0.4;
  }
  a > div {
    display: inline-block;
    vertical-align: top;
  }
}

/* TECH */
.redactor_toolbar {
  background: #f1f1f1 !important;
}

.error {
  .success {
    background: @blue-color;
    color: #fff;
    border-radius: 4px;
  }
  .fail {
    background: red;
  }
}

/* PROFILE form */

.form {
  p {
    text-align: left;
  }
  .username_forms {
    div {
      display: inline-block;
      margin: 0 20px;
    }
  }
  form {
    text-align: center;
    div {
      margin: 20px 0;
      label {
        display: block;
        font-size: 1.3em;
        font-weight: normal;
        margin: 0 0 10px 0;
        color: @dark-color;
        .required {
          color: red;
        }
      }
      input {
        border: 1px solid @border-color;
        font-size: 1.4em;
        padding: 4px;
        width: 200px;
      }
    }
    .separator {
      width: 90%;
      margin: 0 auto -5px auto;
      height: 1px;
      background: @grey-color;
    }
  }
}

.years {
  display: inline-block;
  margin: 20px 30px !important;
  select {
    border: 1px solid @grey-color;
    font-size: 1.4em;
    padding: 4px;
  }
}

.detail_info {
  div {
    label {
      text-align: left;
      font-size: 1.6em !important;
    }
  }
}

.additional_info {
  textarea {
    border: 1px solid @grey-color;
  }
}

.final_info {
  div {
    input {
      width: 300px !important;
    }
    #User_wish {
      width: 800px !important;
      text-align: center;
    }
  }
}

.gradient_button {
  background: -webkit-linear-gradient(top, #efefef, #e9e9e9);
  background: -moz-linear-gradient(top, #efefef, #e9e9e9);
  background: -o-linear-gradient(top, #efefef, #e9e9e9);
  padding: 1px 8px 1px 8px;
  border-radius: 4px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  border-top: 1px solid #fff !important;
  margin: 0 auto 0 auto;
  &:hover {
    background: -webkit-linear-gradient(top, #f7f7f7, #f2f2f2);
    cursor: pointer;
    background: -moz-linear-gradient(top, #f7f7f7, #f2f2f2);
    background: -o-linear-gradient(top, #f7f7f7, #f2f2f2);
  }
  &:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
    color: @dark-color;
  }
}

.form_button {
  margin-bottom: -3px !important;
  input, a {
    color: @blue-color;
    border: 1px solid @grey-color !important;
    .gradient_button;
  }
}

.redactor_editor {
  text-align: left;
}

.note {
  color: @dark-color;
}

.hint {
  text-align: center !important;
  color: @dark-color;
}

/* INVITE */
.invite_form {
  input {
    width: 400px !important;
  }
  p {
    text-align: center;
  }
}

/* USER styles */

.random_title {
  font-size: 1.4em;
  color: @blue-color;
  margin-bottom: 20px;
}

.random_users {
  .items a {
    display: inline-block;
    color: #000;
    &:hover {
      opacity: 0.6;
      color: @blue-color;
    }
  }
  #filter ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  #filter li {
    display: inline;
    padding-right: 10px;
  }
  #filter li a {
    font-size: 20px;
    color: #000000;
  }
  #filter li a:hover {
    font-size: 20px;
    color: @blue-color;
    text-decoration: none;
  }
}

.user_shortview {
  display: inline-block;
  text-align: center;
  width: 88px;
  vertical-align: top;
  margin: 0 6px 20px 6px;
  .user_endyear {
    font-size: 0.8em;
    margin: 4px 0 0 0;
    color: @blue-color;
  }
  .user_photo {
    padding: 4px;
    border: 1px solid @grey-color;
    border-radius: 4px;
    display: inline-block;
    box-shadow: 0 8px 6px -6px @dark-color;
    img {
      display: block;
    }
  }
  .user_name {
    font-size: 0.9em;
    margin: 4px 0 0 0;
    line-height: 18px;
  }
}

.user_fullphoto {
  img {
    border: none;
    width: 200px;
  }
}

.random_news {
  position: relative;
  p {
  }
  .user_news_author {
    text-align: left;
  }
  .user_news_text {
    text-align: left;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
  .items {
    padding: 20px;
    border: 1px solid @grey-color;
    border-top: none;
  }
}

.slidebutton {
  text-align: center;
  color: #fff;
  .gradient_button;
  padding: 6px 0;
  color: @blue-color;
  border-radius: 8px 8px 0 0;
}

.slidebutton:hover {
  cursor: pointer;
  background: @grey-color;
  color: #000;
}

.item_user_news {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @grey-color;
  a {
    color: @blue-color;
    &:hover {
      color: @dark-color;
    }
  }
  .user_news_title {
    width: 100%;
    text-align: right;
    .user_news_edit {
      display: inline-block;
    }
    h3 {
      display: inline-block;
      float: left;
      font-size: 1.6em;
      a {
        text-decoration: none;
        border-bottom: 1px dashed @border-color;
        padding-bottom: 3px;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
  .user_news_text {
    overflow: hidden;
    width: 100%;
  }
  .user_news_author {
    b {
      float: right;
    }
  }
}

.item_user_news:last-child {
  margin-bottom: 0;
}

.item_user_news:last-child {
  border-bottom: none;
}

.user_additional {
  margin-top: 20px;
}

.divider {
  width: 100%;
  height: 0px;
  background: #fff;
  border-bottom: 1px dashed @border-color;
  display: block;
  margin: 0 auto 20px auto;
}

/* ABOUT PAGE */
.about_page > div {
  display: inline-block;
  vertical-align: top;
}

.about_page {
  .about_images {
    width: 220px;
  }
  .about_text {
    p {
      line-height: 20px;
      text-indent: 2em;
      a {
        color: @blue-color;
        text-decoration: none;
        border-bottom: 1px dashed @border-color;
        &:hover {
          color: @dark-color;
          border: none;
        }
      }
    }
    ul {
      padding: 0 0 0 20px;
      li {
        line-height: 24px;
        a {
          color: @blue-color;
          text-decoration: none;
          border-bottom: 1px dashed @border-color;
          &:hover {
            color: @dark-color;
            border: none;
          }
        }
      }
    }
  }
}

/* NEWS PAGE */
.news_view {
  margin: 10px 0 20px 0;
  border-bottom: 1px solid @grey-color;
  h2 {
    display: inline;
    a {
      color: @blue-color;
      text-decoration: none;
      &:hover {
        color: @dark-color;
      }
    }
  }
  .news_date {
    color: @dark-color;
    display: block;
    margin-top: 4px;
  }
  p {
    text-indent: 2em;
    line-height: 22px;
    a {
      color: @blue-color;
      text-decoration: none;
      &:hover {
        color: @dark-color;
      }
    }
  }
}

/* USER PROFILE */
.user_container {
  width: 100%;
  margin-top: 40px;
  .user_leftpanel {
    width: 210px;
    text-align: center;
  }
  .user_rightpanel {
    width: 644px;
    padding: 0 0 0 20px;
    p {
      line-height: 1.6em;
    }
    a {
      color: @blue-color;
      &:hover {
        color: @grey-color;
        text-decoration: none;
      }
    }
  }
  .user_rightpanel > div {
    margin-bottom: 20px;
  }
  .user_rightpanel > div > .user_block_title {
    color: @blue-color;
  }
}

.user_container > div {
  display: inline-block;
  vertical-align: top;
}

.user_fullphoto {
  background: #fff;
  border: 1px solid @blue-color;
  padding: 4px 4px 1px 4px;
  img {
    margin: 0;
    padding: 0;
  }
}

.user_workplace {
  margin: 10px 0;
}

.user_personal_page {
  max-width: 240px;
  overflow: hidden;
}

.user_personal_page a {
  color: @blue-color;
  &:hover {
    text-decoration: none;
  }
}

.user_years {
  margin: 20px 0;
  border-top: 1px dashed @border-color;
  padding: 18px 0;
  span {
    position: relative;
    padding-left: 24px;
  }
  span:before {
    width: 20px;
    height: 20px;
    content: "";
    background: url(../images/physics_icons_sprite.png);
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 4px;
    top: 0px;
    margin-top: -1px;
  }
  span:first-child:before {
    background-position: -60px 0;
  }
  span:last-child:before {
    background-position: -80px 0;
  }
}

.user {
  display: inline-block;
  vertical-align: middle;
  span {
    color: @blue-color;
  }
}

.user_advice_text {
  margin-top: 15px;
}

.user_control_buttons {
  width: 322px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  float: right;
  div {
    display: inline-block;
    a {
      padding: 6px 12px !important;
      text-decoration: none;
      color: @blue-color;
      border-radius: 8px;
      .gradient_button;
    }
  }
  div:last-child {
    margin-left: 10px;
  }
}

.user_fullnews {
  margin: 0;
}

.user_fullnews_info {
  text-align: right;
  .user_fullnews_date {
    float: left;
  }
  .user_fullnews_author {
    a {
      color: @blue-color;
      &:hover {
        color: @dark-color;
        text-decoration: none;
      }
    }
  }
}

.user_fullnews_content img {
  max-width: 600px;
}

/* bachalor, specialist, magister*/
.level input {
  display: inline-block;
}

.level > div {
  display: inline-block;
  label {
    color: #000 !important;
  }
}

/* Administration */
.breadcrumbs {
  display: inline-block;
  float: left;
}

.navigation {
  text-align: right;
  margin: 0 0 20px 0;
  height: 16px;
}

.administration {
  display: inline-block;
  .form_button {
    display: inline-block;
    margin: 0 1px;
    a {
      color: #000;
      padding: 4px 4px;
      text-decoration: none;
      &:hover {
        opacity: 1;
        color: @blue-color;
      }
    }
  }
  .form_button:last-child {
    margin-right: 0;
  }
}

.administration .form_button a {
  position: relative;
  padding-left: 24px;
}

.administration .form_button a:before {
  width: 20px;
  height: 20px;
  content: "";
  background: url(../images/physics_icons_sprite.png);
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 4px;
  top: 3px;
}

.administration .form_button:nth-child(2) a:before {
  background-position: -20px 0;
}

.administration .form_button:nth-child(3) a:before {
  background-position: -40px 0;
}

.administration .form_button:nth-child(4) a:before {
  background-position: -100px 0;
}

.summary {
  display: none;
}

/* ERRORS */
.errorSummary {
  color: red;
  font-size: 1.4em;
  ul {
    li {
      text-align: left;
    }
  }
}

.random_users > a {
  text-decoration: none;
}

.users_year {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: left;
  color: @blue-color;
  border-top: 1px solid @grey-color;
  padding-top: 20px;
}

.users_year:first-child {
  margin-top: 0;
  border: none;
  padding-top: 0;
}

.user_fullnews .category {
  font-size: 0.6em;
  color: @blue-color;
}

.item_user_news .category {
  margin-top: 20px;
  color: @blue-color;
  font-weight: bold;
}

.scrollup {
  width: 39px;
  height: 100%;
  opacity: 0.4;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  text-indent: -9999px;
  outline: none;
  background: #fff;
}

.scrollup:active,
.scrollup:focus {
  outline: none;
}

.scrollup:hover {
  opacity: 0.7;
}

.scroll_img {
  width: 39px;
  height: 39px;
  position: absolute;
  background: url(http://kmatalents.org/img/scrollup.png);
  top: 50%;
  margin-top: 20px;
}

/* MEDIA QUERIES */
